<div id="footer" th:fragment = "footer">
    <div class="shell">
        <div class="nav left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Partners</a></li>
                <li class="last"><a href="#">Contact</a></li>
            </ul>
        </div>
        <p class="copy right">&copy; Simple shop Design by OneMan(Kostyantyn Shtikov) <a href="https://github.com/OneMan3121">GitHub</a></p>
        <div class="cl">&nbsp;</div>
    </div>
</div>