<div id="header" th:fragment = "header">
    <div class="shell">
        <h1 id="logo" class="left"><a href="#">Company Name Here<span>free website template</span></a></h1>
        <div id="navigation" class="right">
            <div class="edge l"></div>
            <div class="edge r"></div>
            <ul>
                <li><a href="/" class="active"><span>Home</span></a></li>
                <li><a href="/about"><span>About</span></a></li>
                <li><a href="#"><span>Services</span></a></li>
                <li><a href="#"><span>Solutions</span></a></li>
                <li class="last"><a href="#"><span>Contacts</span></a></li>
            </ul>
        </div>
        <div class="cl">&nbsp;</div>
    </div>
</div>